.container-fluid {
    position: fixed;
    background-color: rgb(98, 134, 211);

    .justify-content-end {
        padding-right: 0px;
    }

    .navbar-nav {
        .nav-link {
            margin-right: 50px;
        }
    }
}

.search-input {
    font-size: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    height: 30px;
    width: 180px;
}

.search-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: rgb(168, 163, 163);
    margin-left: -39px;
}

.user-btn {
    background-color: transparent;
    cursor: pointer;
    margin-left: 20px;
}